.skill {
  grid-template-columns: 200px auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 4rem;

  @media all and (width < 780px) {
    grid-template-columns: 150px auto;
    gap: 2rem;
  }

  @media all and (width < 400px) {
    margin-left: 1rem;
    gap: 1rem;
  }

  > p {
    font-family: "Poppins", sans-serif;
    color: #ffffffcf;
    font-weight: 200;
    font-size: 1rem;

    @media all and (width < 780px) {
      font-size: 0.8rem;
    }
  }

  > div {
    position: relative;
    overflow: hidden;
    height: 12.5px;
    flex-grow: 1;

    --percentage: 0%;

    &::before {
      background: linear-gradient(-90deg, #fff, #ffffff50, transparent);
      width: var(--percentage);
      position: absolute;
      height: 100%;
      content: "";
      left: 0;

      @media all and (width < 780px) {
        height: 80%;
        top: 10%;
      }
    }
  }
}
