.point {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.65rem;

  > img {
    height: auto;
    width: 25px;
  }

  > p {
    font-family: "Poppins", sans-serif;
    color: #ffffffa0;
    font-weight: 300;
    font-size: 1rem;
  }

  @media all and (width < 520px) {
    > img {
      width: 20px;
    }

    > p {
      font-size: 0.85rem;
    }
  }
}
