.button {
  box-shadow: 0 0 20px #00000080;
  background-color: transparent;
  border: 2px solid #b5002a;
  border-radius: 2.5px;

  &:nth-of-type(1) {
    transition: background-color 300ms, border-color 300ms;
    box-shadow: 0 0 20px #00000080;
    background-color: transparent;
    padding: 0.35rem 2rem;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    z-index: 0;

    &::before {
      background-color: #af0025;
      transition: width 450ms;
      transform: skew(25deg);
      position: absolute;
      height: 100%;
      content: "";
      left: -1rem;
      z-index: -1;
      width: 0%;
      top: 0;
    }

    &:hover {
      &::before {
        width: calc(100% + 2rem);
      }
  
      > p {
        color: #fff;
      }
    }
  }

  &:nth-of-type(2) {
    padding: 0.35rem 0.65rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  > p {
    font-family: "Poppins", sans-serif;
    transition: color 450ms;
    letter-spacing: 0.5px;
    color: #b5002a;
    font-weight: 400;
    font-size: 1rem;
  }

  > img {
    height: auto;
    width: 18px;
  }
}
