@mixin selection {
  background-color: #ffffff25;
  transition: width 300ms;
  border-radius: 40px;
  position: absolute;
  height: 1.5px;
  bottom: -1rem;
  content: "";
  width: 100%;
  left: 0;
}

.option {
  justify-content: space-between;
  transition: opacity 300ms;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  display: grid;
  width: 400px;

  &::after {
    @include selection();
  }

  &::before {
    @include selection();
    background-image: linear-gradient(45deg, #ff0000, #0000ff);
    width: 100%;
    z-index: 1;
  }

  &:not(.active) {
    opacity: 0.25;

    &::before {
      width: 0%;
    }

    > div {
      rotate: -90deg;
    }
  }

  > p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
  }

  > div {
    transition: rotate 300ms;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 0.35rem;
    display: flex;

    > img {
      translate: 1px 0;
      height: auto;
      width: 25px;
    }
  }

  @media all and (width < 525px) {
    margin: 0 auto;
    width: 300px;
    
    > p {
      font-size: 1.25rem;
    }

    > div > img {
      translate: 1px 0;
      width: 20px;
    }
  }
}
