.toast {
  box-shadow: 0 0 20px #00000080;

  grid-auto-flow: column;
  justify-content: left;
  border-radius: 2.5px;
  align-items: center;
  position: absolute;
  translate: 0 10px;
  overflow: hidden;
  bottom: 2.5rem;
  display: grid;
  left: 2.5rem;
  gap: 0.5rem;
  opacity: 0;

  &.success {
    background-color: #006500;

    > p {
      background-color: #009500;
    }
  }

  &.failure {
    background-color: #650000;

    > p {
      background-color: #950000;
    }
  }

  > img {
    padding-left: 0.45rem;
    height: auto;
    width: 35px;
  }

  > p {
    font-family: "Poppins", sans-serif;
    padding: 0.65rem;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
  }
}

.reveal {
  animation: reveal forwards ease-in-out 250ms;
}

@keyframes reveal {
  from {
    translate: 0 40px;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

.hide {
  animation: hide forwards ease-in-out 250ms;
}

@keyframes hide {
  from {
    translate: 0 0;
    opacity: 1;
  }

  to {
    translate: 0 20px;
    opacity: 0;
  }
}
