.toast {
  padding: 0.65rem 0.85rem 0.65rem 0.65rem;
  box-shadow: 0 0 20px #00000080;
  background-color: #00ff0085;
  grid-auto-flow: column;
  justify-content: left;
  border-radius: 2.5px;
  align-items: center;
  position: absolute;
  translate: 0 10px;
  bottom: 2.5rem;
  display: grid;
  left: 2.5rem;
  gap: 0.5rem;
  opacity: 0;

  > img {
    height: auto;
    width: 30px;
  }

  > p {
    font-family: "Poppins", sans-serif;
    color: #ffffffaf;
    font-weight: 300;
    font-size: 1rem;

    > span {
      font-weight: 400;
      color: #fff;
    }
  }
}

.reveal {
  animation: reveal forwards ease-in-out 250ms;
}

@keyframes reveal {
  from {
    translate: 0 40px;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

.hide {
  animation: hide forwards ease-in-out 250ms;
}

@keyframes hide {
  from {
    translate: 0 0;
    opacity: 1;
  }

  to {
    translate: 0 20px;
    opacity: 0;
  }
}
