@import url("./css/global.css");

@import url("./css/fonts.css");

@import url("./css/home/strips.css");
@import url("./css/home/projects.css");
@import url("./css/home/pricing.css");
@import url("./css/home/contacts.css");
@import url("./css/home/footer.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  cursor: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000010;
  overflow-x: hidden;
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
}
