/*-----------------------------------------------*/
/*---------------- FOOTER STYLES ----------------*/
/*-----------------------------------------------*/

footer {
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  box-shadow: 0 0 20px #000000a0;
  background-color: #000025;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;
  gap: 1.25rem;
}

.footer-divider {
  border-bottom: 2px solid #ffffff15;
  border-radius: 40px;
  border-right: none;
  border-left: none;
  border-top: none;
}

/*---------------------------------------*/
/*------------- LINK STYLES -------------*/
/*---------------------------------------*/

.footer-links {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.footer-link {
  position: relative;
}

.footer-link.solid {
  transition: background-color 300ms;
  background-color: #b5002a;
  padding: 0.5rem 2rem;
  margin-left: 0.5rem;
}

.footer-link:not(.solid)::before {
  transition: background-color 300ms, translate 300ms;
  background-color: #ffffff00;
  border-radius: 40px;
  position: absolute;
  aspect-ratio: 1;
  content: "";
  width: 5px;
}

.footer-link.column::before {
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-link.row::before {
  translate: -0.5rem 0;
  margin: auto 0;
  bottom: 0;
  top: 0;
}

.footer-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 300ms;
  color: #ffffff50;
  font-weight: 300;
  font-size: 1rem;
}

.footer-link.solid .footer-link-text {
  letter-spacing: 0.5px;
  color: #fff;
}

/*------------------------------------*/
/*-------------- LAYOUT --------------*/
/*------------------------------------*/

.footer-row {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.footer-row:nth-of-type(2) {
  align-items: start;
}

.footer-column {
  justify-content: center;
  grid-auto-flow: column;
  align-items: start;
  display: grid;
  gap: 2.5rem;
}

.footer-column-feature {
  grid-template-columns: auto;
  justify-content: center;
  align-items: start;
  display: grid;
  gap: 0.5rem;
}

.footer-column-feature-title {
  background: -webkit-linear-gradient(45deg, #bf953f, #fcf6ba);
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 400;
  font-size: 2rem;
}

.footer-column-feature-links {
  grid-template-columns: auto;
  justify-content: left;
  align-items: start;
  display: grid;
  gap: 0.5rem;
}

/*----------------------------------------*/
/*------------- SOCIAL LINKS -------------*/
/*----------------------------------------*/

.footer-social-link {
  transition: border-color 300ms, translate 300ms;
  border: 2px solid #ffffff35;
  grid-template-columns: auto;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  padding: 0.5rem;
  display: grid;
}

.footer-social-link-icon {
  transition: opacity 300ms;
  opacity: 0.35;
  width: 15px;
}

/*----------------------------------------------*/
/*--------------- MESSAGE STYLES ---------------*/
/*----------------------------------------------*/

.footer-message {
  font-family: "Poppins", sans-serif;
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.footer-message span {
  background: -webkit-linear-gradient(45deg, #ff0000, #0000ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
}

/*----------------------------------------*/
/*-------------- CONCLUSION --------------*/
/*----------------------------------------*/

.footer-conclusion {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  opacity: 0.25;
  display: grid;
  gap: 0.45rem;
}

.footer-conclusion-icon {
  width: 20px;
}

.footer-conclusion-icon.l {
  margin-right: -0.25rem;
  width: 25px;
}

.footer-conclusion-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- TRANSITION --------------*/
/*----------------------------------------*/

.footer-link:hover::before {
  background-color: #fff;
}

.footer-link.row:hover::before {
  translate: -1rem 0;
}

.footer-link.column:hover::before {
  translate: 0 0.5rem;
}

.footer-link:hover .footer-link-text {
  color: #fff;
}

.footer-link.solid:hover {
  background-color: #950023;
}

.footer-social-link:hover {
  border-color: #fff;
  translate: 5px 0;
}

.footer-social-link:hover .footer-social-link-icon {
  opacity: 1;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
