/*----------------------------------------------------*/
/*------------------ PROJECT STYLES ------------------*/
/*----------------------------------------------------*/

#projects {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 2rem;
  display: grid;
  gap: 4rem;
}

/*-----------------------------------------*/
/*------------- HEADER STYLES -------------*/
/*-----------------------------------------*/

.projects-header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 8rem;
}

/*-----------------------------------------*/
/*------------- NAVBAR STYLES -------------*/
/*-----------------------------------------*/

.projects-navbar {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.projects-navbar-option {
  transition: background-color 300ms;
  background-color: #000025;
  justify-content: center;
  grid-auto-flow: column;
  padding: 0.5rem 1.5rem;
  align-items: center;
  display: grid;
}

.projects-navbar-option.active {
  background-color: #ff0033;
}

.projects-navbar-option:first-of-type {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.projects-navbar-option:last-of-type {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.projects-navbar-option-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #fff;
}

/*--------------------------------------------*/
/*------------- CATALOGUE STYLES -------------*/
/*--------------------------------------------*/

.projects-catalogue {
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 2rem;
}

.projects-project-wrapper {
  box-shadow: 0 0 20px #000000a0;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: stretch;
  align-items: start;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  width: 350px;
}

.projects-project {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.projects-project-divider {
  border-bottom: 2.25px solid #ffffff10;
  margin-top: 0.25rem;
  border-radius: 40px;
  border-right: none;
  border-left: none;
  border-top: none;
}

/*-------------------------------------*/
/*----------- HEADER STYLES -----------*/
/*-------------------------------------*/

.projects-project-header {
  padding: 0 0.5rem 0.5rem 0.5rem;
  grid-template-columns: auto;
  justify-content: stretch;
  background-color: #000;
  position: relative;
  align-items: end;
  overflow: hidden;
  display: grid;
  height: 200px;
  z-index: 0;
}

.projects-project-header::before {
  background-image: linear-gradient(to top, #000000af, transparent);
  position: absolute;
  height: 100px;
  width: 100%;
  content: "";
  z-index: -1;
  right: 0;
  left: 0;
}

.projects-project-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.projects-project-background {
  transition: scale 500ms;
  position: absolute;
  object-fit: cover;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: -2;
  right: 0;
  left: 0;
}

/*--------------------------------------*/
/*----------- DETAILS STYLES -----------*/
/*--------------------------------------*/

.projects-project-about {
  font-family: "Poppins", sans-serif;
  color: #ffffffa0;
  line-height: 1.25;
  font-weight: 300;
  font-size: 1rem;
}

.projects-project-details {
  padding: 0.25rem 0.65rem 0.65rem 0.65rem;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

/*---------------------------------------*/
/*------------ SKILLS STYLES ------------*/
/*---------------------------------------*/

.projects-project-skills {
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  display: flex;
  gap: 0.25rem;
}

.projects-project-skill {
  transition: border-color 400ms;
  border: 2px solid #ffffff25;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0.65rem;
  display: grid;
}

.projects-project-skill-icon {
  width: 20px;
}

/*---------------------------------------*/
/*------------ BUTTON STYLES ------------*/
/*---------------------------------------*/

.projects-project-buttons {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  margin-top: 0.25rem;
  display: grid;
}

.projects-project-button {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.projects-project-button-label {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

/*---------------------------------------*/
/*-------------- VIEW MORE --------------*/
/*---------------------------------------*/

.projects-explore-button {
  transition: border-color 350ms;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  padding: 0.25rem 2rem;
  align-items: center;
  width: fit-content;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
}

.projects-explore-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 350ms;
  letter-spacing: 0.25px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

/*------------------------------------*/
/*------------- WEBSITES -------------*/
/*------------------------------------*/

.projects-project-button.github {
  background-color: #050505;
  padding: 0.45rem 1rem;
  border-radius: 2.5px;
}

.projects-project-button.website {
  transition: background-color 300ms;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 0.25rem;
}

.projects-project-button.github .projects-project-button-icon {
  width: 18px;
}

.projects-project-button.website .projects-project-button-icon {
  transition: filter 300ms;
  width: 22.5px;
}

/*-------------------------------------*/
/*------------- PLATFORMS -------------*/
/*-------------------------------------*/

.projects-project-buttons-platforms {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.projects-project-button.desktop,
.projects-project-button.android {
  transition: scale 250ms;
  border-radius: 40px;
  padding: 0.5rem;
}

.projects-project-button.desktop {
  border: 2px solid #fa5c5c;
}

.projects-project-button.android {
  border: 2px solid #34a853;
}

.projects-project-button.desktop .projects-project-button-icon,
.projects-project-button.android .projects-project-button-icon {
  width: 16px;
}

/*---------------------------------------*/
/*------------- DECORATIONS -------------*/
/*---------------------------------------*/

#projects .dashes:nth-of-type(3) {
  right: 4rem;
  top: 15rem;
}

#projects .dashes:nth-of-type(4) {
  bottom: 6rem;
  left: 4rem;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.projects-project-wrapper:hover .projects-project-background {
  scale: 1.2;
}

.projects-project-skill:hover {
  border-color: #ffffff80;
}

.projects-project-button.website:hover {
  background-color: #fff;
}

.projects-project-button.website:hover .projects-project-button-icon {
  filter: invert(1);
}

.projects-project-button.desktop:hover,
.projects-project-button.android:hover {
  scale: 1.15;
}

.projects-explore-button:hover {
  border-color: #ff0033;
}

.projects-explore-button:hover .projects-explore-button-text {
  color: #ff0033;
}

/*------------------------------------------------*/
/*------------------ END OF CSS ------------------*/
/*------------------------------------------------*/
