#about .title > h1 {
  @media all and (width < 1080px) {
    font-size: 5.5rem;
  }

  @media all and (width < 880px) {
    font-size: 4rem;
  }

  @media all and (width < 580px) {
    letter-spacing: 0.65px;
    font-size: 3.5rem;
  }

  @media all and (width < 500px) {
    font-size: 3rem;
  }

  @media all and (width < 450px) {
    font-size: 2.5rem;
  }
}

#skills .title > h1 {
  @media all and (width < 1080px) {
    font-size: 5.5rem;
  }

  @media all and (width < 880px) {
    font-size: 4.5rem;
  }

  @media all and (width < 580px) {
    font-size: 3.5rem;
  }

  @media all and (width < 500px) {
    font-size: 3rem;
  }
}

#projects .title > h1 {
  @media all and (width < 1150px) {
    font-size: 5rem;
  }

  @media all and (width < 780px) {
    font-size: 4rem;
  }
}

#pricing .title {
  > h1 {
    @media all and (width < 1150px) {
      font-size: 5rem;
    }

    @media all and (width < 780px) {
      font-size: 4rem;
    }
  }

  > div {
    @media all and (width < 520px) {
      display: none;
    }
  }

  @media all and (width < 520px) {
    justify-content: center;
  }
}

#contacts .title {
  > h1 {
    @media all and (width < 1020px) {
      font-size: 5rem;
    }

    @media all and (width < 960px) {
      font-size: 4rem;
    }
    
    @media all and (width < 740px) {
      font-size: 4.25rem;
    }
  }

  > div {
    @media all and (width < 740px) {
      display: none;
    }
  }
}
