@mixin button {
  border: 2px solid #fff;
  justify-content: center;
  padding: 0.35rem 2.5rem;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;

  > p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
  }

  > img {
    height: auto;
    width: 18px;
  }

  @media all and (width < 1000px) {
    > p {
      font-size: 1rem;
    }
  }

  @media all and (width < 550px) {
    padding: 0.25rem 1.5rem;
  }

  @media all and (width < 380px) {
    padding: 0.25rem 1rem;

    > p {
      font-size: 0.85rem;
    }
  }
}

.button {
  @include button();
}

.solid {
  @include button();

  transition: background-color 300ms, border-color 300ms;
  background-color: #b5002a;
  border-color: #b5002a;

  &:hover {
    background-color: #ff003c;
    border-color: #ff003c;
  }
}
