@mixin text($size, $weight, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

.title {
  font-family: "Poppins", sans-serif;
  line-height: 1;

  p:nth-of-type(1) {
    @include text(2.5rem, 200, #808080);
  }

  p:nth-of-type(2) {
    @include text(3rem, 400, #fff);
    margin: 0.5rem 0 1rem 0;
  }

  p:nth-of-type(3) {
    @include text(1.5rem, 300, #a0a0a0);
  }

  @media all and (width < 1000px) {
    p:nth-of-type(1) {
      @include text(2rem, 200, #808080);
    }

    p:nth-of-type(2) {
      @include text(2.5rem, 400, #fff);
      margin-bottom: 0.5rem;
    }

    p:nth-of-type(3) {
      @include text(1.25rem, 300, #a0a0a0);
    }
  }

  @media all and (width < 700px) {
    p:nth-of-type(1) {
      @include text(1.65rem, 200, #808080);
    }

    p:nth-of-type(2) {
      @include text(2.25rem, 400, #fff);
      margin-bottom: 0.65rem;
    }

    p:nth-of-type(3) {
      @include text(1rem, 300, #a0a0a0);
    }
  }

  @media all and (width < 550px) {
    p:nth-of-type(1) {
      @include text(1.5rem, 200, #808080);
    }

    p:nth-of-type(2) {
      @include text(2rem, 400, #fff);
    }

    p:nth-of-type(3) {
      @include text(1rem, 300, #a0a0a0);
    }
  }
  
  @media all and (width < 380px) {
    p:nth-of-type(1) {
      @include text(1rem, 300, #808080);
    }

    p:nth-of-type(2) {
      @include text(1.5rem, 400, #fff);
    }

    p:nth-of-type(3) {
      @include text(0.85rem, 300, #a0a0a0);
    }
  }
}
