/*--------------------------------------------------*/
/*------------------ ABOUT STYLES ------------------*/
/*--------------------------------------------------*/

#about {
  justify-content: center;
  grid-auto-flow: column;
  align-content: center;
  align-items: start;
  padding: 6rem 4rem;
  position: relative;
  display: grid;
  gap: 8rem;
}

/*-------------------------------------*/
/*-------------- DETAILS --------------*/
/*-------------------------------------*/

.about-details {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 500px;
  gap: 1.25rem;
}

.about-title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  position: relative;
  width: fit-content;
  font-size: 3.5rem;
  font-weight: 400;
  cursor: default;
  color: #fff;
}

.about-title::before {
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background-color: #fad961;
  transform: skew(-25deg);
  position: absolute;
  height: 4.5px;
  content: "";
  width: 50%;
  bottom: 0;
  left: 0;
}

.about-title span {
  background: -webkit-linear-gradient(45deg, #ff0000, #0000ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
}

.about-description {
  font-family: "Poppins", sans-serif;
  color: #ffffffcf;
  font-weight: 200;
  font-size: 1rem;
  cursor: default;
}

/*------------------------------------*/
/*-------------- BUTTON --------------*/
/*------------------------------------*/

.about-button {
  transition: background-color 300ms, border-color 300ms;
  background-color: #b5002a;
  padding: 0.4rem 2rem;
  width: fit-content;
}

.about-button-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- STATISTICS --------------*/
/*----------------------------------------*/

.about-statistics {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 1.25rem;
}

.about-statistics-panel {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.about-statistic {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 2rem;
}

.about-statistic-title {
  font-family: "Poppins", sans-serif;
  color: #ffffffcf;
  font-size: 1rem;
  font-weight: 200;
  cursor: default;
}

.about-statistic-rating {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.85rem;
}

.about-statistic-bullet {
  border: 2px solid #ffffff50;
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  width: 15px;
}

.about-statistic-bullet.marked {
  background-color: #fff;
}

/*-------------------------------------*/
/*------------ DECORATIONS ------------*/
/*-------------------------------------*/

#about .circles:nth-of-type(3) {
  bottom: 2.5rem;
  left: 4.5rem;
}

#about .circles:nth-of-type(4) {
  right: 4.5rem;
  top: 2.5rem;
}

/*-------------------------------------*/
/*------------ TRANSITIONS ------------*/
/*-------------------------------------*/

.about-button:hover {
  background-color: #df002a;
  border-color: #df002a;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
