<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RyxnDmello</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      img {
        box-shadow: 0 2.5px 10px #00000050;
        border-radius: 5px;
        object-fit: cover;
        height: 125px;
        width: 98%;
      }

      .salutation {
        padding: 0.25rem 0;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .paragraph {
        line-height: 1.25;
        font-size: 1rem;
      }

      .buttons {
        display: flex;
      }

      .button {
        box-shadow: 0 2.5px 5px #00000050;
        padding: 0.65rem 1.5rem;
        margin-right: 0.25rem;
        text-decoration: none;
        border-radius: 2.5px;
        color: #fff;
      }

      .github {
        background-color: #000;
      }

      .linkedin {
        background-color: #0080ff;
      }

      .instagram {
        background-color: #ff0050;
      }

      .whatsapp {
        background-color: #00850f;
      }

      .button p {
        color: #fff;
      }

      .conclusion {
        margin-top: 0.65rem;
        line-height: 1.25;
        font-size: 1rem;
      }

      hr {
        border: none;
        border-bottom: 2px solid #cccccc;
        border-radius: 40px;
        margin-top: 0.85rem;
      }

      footer {
        padding-top: 0.65rem;
      }

      footer p {
        font-size: 0.85rem;
        color: #505050;
      }
    </style>
  </head>

  <body>
    <img
      src="https://user-images.githubusercontent.com/64190011/226141289-776ee394-3a06-4e9e-b52f-7202038cb75d.jpg"
    />

    <main>
      <h4 class="salutation">Hey <%= name %>,</h4>

      <p class="paragraph">
        I wanted to extend my heartfelt gratitude for taking the time to provide
        feedback on my portfolio. Your insights are incredibly valuable to me,
        and I'm truly appreciative of your kind words.
      </p>
      <br />

      <p class="paragraph">
        Your endorsement of my portfolio holds immense significance, and I'm
        reaching out to kindly request your support in recommending my work to
        others who might find it beneficial. If you could spare a moment to
        share my website link with your network, it would mean a great deal to
        me. Your word of mouth recommendation has the potential to help me
        connect with new clients and opportunities.
      </p>
      <br />

      <p class="paragraph">
        Thank you once again for your feedback and for considering recommending
        my portfolio to others. Your support fuels my passion for what I do, and
        I'm honored to continue serving you and others in the future.
      </p>
      <br />

      <div class="buttons">
        <a
          href="https://github.com/RyxnDmello"
          class="button github"
          target="_blank"
        >
          <p>GitHub</p>
        </a>

        <a
          href="https://www.linkedin.com/in/ryanndmello/"
          class="button linkedin"
          target="_blank"
        >
          <p>LinkedIn</p>
        </a>

        <a
          href="https://www.instagram.com/ryxndmello10/"
          class="button instagram"
          target="_blank"
        >
          <p>Instagram</p>
        </a>

        <a
          href="https://wa.me/9145000789"
          class="button whatsapp"
          target="_blank"
        >
          <p>WhatsApp</p>
        </a>
      </div>

      <p class="conclusion">
        Best Regards, <br />
        RyxnDmello
      </p>
    </main>

    <hr />

    <footer>
      <p>Ryan Nolasco D Mello • Software Developer</p>
    </footer>
  </body>
</html>
