.title {
  justify-content: stretch;
  align-items: center;
  display: flex;
  gap: 1rem;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  > div {
    background: linear-gradient(45deg, #ff0000, #0000ff);
    border-radius: 40px;
    height: 3.5px;
    flex-grow: 1;
    width: 200px;
  }

  > h1 {
    font-family: "Poppins", sans-serif;
    letter-spacing: -2px;
    font-weight: 600;
    font-size: 6rem;
    color: #fff;

    > span {
      color: #ffffff25;
    }
  }
}
