.card {
  box-shadow: 0 0 20px #00000080;
  transition: border-color 250ms;
  border: 2px solid #ffffff25;
  grid-template-columns: auto;
  background-color: #000010;
  justify-content: stretch;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: grid;
  width: 350px;
  gap: 2.5rem;

  &:nth-of-type(2) {
    border-color: #daa520;
    scale: 1.1;
  }

  &:not(:nth-of-type(2)):hover {
    border-color: #ffffff80;
  }

  > h2 {
    font-family: "Poppins", sans-serif;
    border: 2px solid #fff;
    padding: 0.25rem 2.5rem;
    border-radius: 40px;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 auto;
    color: #fff;
  }

  &:nth-of-type(2) .button {
    background-image: linear-gradient(-45deg, #cf0000, #0000cf);
  }

  @media all and (width < 1200px) {
    &:nth-of-type(2) {
      order: 3;
    }
  }

  @media all and (width < 865px) {
    &:nth-of-type(2) {
      order: unset;
    }
  }

  @media all and (width < 520px) {
    width: 300px;

    > h2 {
      font-size: 1rem;
    }
  }
}

.details {
  grid-template-columns: auto;
  background-color: #000010;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;

  > h4 {
    background: -webkit-linear-gradient(45deg, #ff0000, #0000ff);
    font-family: "Plus Jakarta Sans", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;

    span:first-of-type {
      margin-right: 0.25rem;
      font-weight: 400;
    }

    span:last-of-type {
      background: -webkit-linear-gradient(0, #656565, #656565);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffffa0;
    line-height: 1.4;
    font-weight: 300;
    font-size: 1rem;
  }

  @media all and (width < 520px) {
    > h4 {
      font-size: 2rem;
    }

    > p {
      font-size: 0.85rem;
    }
  }
}

.points {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.button {
  transition: background-color 350ms;
  margin: -0.5rem auto 0rem auto;
  background-color: #0000ff40;
  border-radius: 5px;
  padding: 0.5rem 0;
  width: 90%;

  > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
  }

  &:hover {
    background-color: #0000a0;
  }

  &:active {
    background-color: #000025;
  }
}
