.social {
  transition: border-color 300ms, translate 300ms;
  border: 2px solid #ffffff35;
  grid-template-columns: auto;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  padding: 0.5rem;
  display: grid;

  > img {
    transition: opacity 300ms;
    opacity: 0.35;
    width: 15px;
  }

  &:hover {
    border-color: #fff;
    translate: 5px 0;

    > img {
      opacity: 1;
    }
  }
}
