.about {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  display: grid;
  gap: 2rem;

  > div:not(:first-of-type) {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    display: grid;
  }
}

.overview {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffffcf;
  font-size: 1.1rem;
  font-weight: 200;
  width: 1000px;
}

.skills {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  display: grid;
}
