.about {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  display: grid;
  gap: 2rem;

  > div:not(:first-of-type) {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    display: grid;
  }

  @media all and (width < 1080px) {
    padding: 6rem 4rem;
  }

  @media all and (width < 800px) {
    padding: 5rem 4rem 6rem 4rem;
  }

  @media all and (width < 580px) {
    padding: 4rem 4rem 5rem 4rem;
    gap: 1rem;
  }

  @media all and (width < 425px) {
    padding: 3rem 4rem 4rem 4rem;
    gap: 0.65rem;
  }
}

.overview {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffffcf;
  font-size: 1.1rem;
  max-width: 1000px;
  font-weight: 200;

  @media all and (width < 580px) {
    font-size: 0.95rem;
    margin-top: 1rem;
  }

  @media all and (width < 425px) {
    font-size: 0.85rem;
  }
}

.skills {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  display: grid;
}
