.contacts {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  display: grid;
  padding: 4rem;
  gap: 2.5rem;

  > div:nth-of-type(2) {
    justify-content: center;
    grid-auto-flow: column;
    align-items: start;
    display: grid;
    gap: 10rem;
  }

  @media all and (width < 1050px) {
    > div {
      gap: 5rem;
    }
  }
  
  @media all and (width < 950px) {
    > div {
      grid-template-columns: auto;
      grid-auto-flow: row;
      gap: 4rem;
    }
  }
}

.options {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
  gap: 2.5rem;
}

.form {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  width: 400px;
  gap: 0.5rem;

  > div:last-of-type {
    justify-content: center;
    align-items: stretch;
    margin-top: 0.5rem;
    display: flex;
    gap: 0.25rem;
  }

  @media all and (width < 525px) {
    margin: 0 auto;
    width: 300px;
  }
}
