.nav {
  background-image: linear-gradient(to bottom, #00000050, transparent);
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 1.5rem 2rem;
  align-items: center;
  display: grid;
}

@mixin row($space) {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: $space;
}

.links {
  @include row(2rem);

  > div {
    @include row(1rem);
  }
}

.wrapper {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  height: 100dvh;
  display: grid;
}

.header {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;

  @mixin heading($size, $weight, $position, $gradientStart, $gradientEnd) {
    background: -webkit-linear-gradient(to right, $gradientStart, $gradientEnd);
    background: linear-gradient(to right, $gradientStart, $gradientEnd);
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    -webkit-background-clip: text;
    translate: 0 $position;
    background-clip: text;
    font-weight: $weight;
    letter-spacing: -5px;
    position: relative;
    font-size: $size;
    line-height: 1;
  }

  > div {
    grid-template-columns: auto;
    justify-content: center;
    padding: 5rem 0 0 0;
    align-items: center;
    display: grid;

    > h1 {
      @include heading(5rem, 300, 0, #fff, #ffffff25);
      background: linear-gradient(45deg, #fff, #ffffff25, #fff);
      animation: TextGradient 5000ms ease-in-out infinite;
      background-size: 500% auto;
      background-clip: text;
    }

    > div:first-of-type {
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      display: grid;

      > p {
        @include heading(8.5rem, 300, 0, #ff0000, #0000ff);
      }

      > p:nth-of-type(2) {
        @include heading(8.5rem, 300, -35px, #ff000050, #0000ff50);
        transform: rotateX(180deg);
      }
    }

    > div:last-of-type {
      justify-content: right;
      align-items: center;
      translate: 0 -20px;
      flex-wrap: nowrap;
      display: flex;
      gap: 0.5rem;
    }
  }
}

@keyframes TextGradient {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 100%;
  }
}
