.pricing {
  box-shadow: 0 0 20px #000000a0;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 4rem;
  display: grid;
  z-index: 0;
  gap: 5rem;

  @media all and (width < 1150px) {
    gap: 3rem;
  }
  
  @media all and (width < 520px) {
    gap: 2rem;
  }
}

.cards {
  justify-content: center;
  grid-auto-flow: column;
  align-items: start;
  display: grid;
  gap: 2.5rem;

  @media all and (width < 1200px) {
    gap: 4rem 2.5rem;
    flex-wrap: wrap;
    display: flex;
  }
}
