.projects {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 2rem;
  display: grid;
  gap: 4rem;

  @media all and (width < 505px) {
    gap: 2.5rem;
  }
}

.header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 8rem;

  > div {
    justify-content: center;
    grid-auto-flow: column;
    align-items: center;
    display: grid;
  }

  @media all and (width < 950px) {
    gap: 2.5rem;
  }
  
  @media all and (width < 840px) {
    justify-content: center;
    grid-auto-flow: row;
    gap: 2rem;
  }
}

.catalogue {
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 2rem;

  @media all and (width < 1150px) {
    grid-template-columns: repeat(2, auto);
  }

  @media all and (width < 780px) {
    grid-template-columns: auto;
  }
}
