.skills {
  box-shadow: 0 0 20px #000000a0;
  padding: 2rem 4rem 3rem 4rem;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 1.5rem;
  z-index: 0;
}

.catalogue {
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  flex-wrap: wrap;
  display: flex;
  gap: 0.25rem;
}
