.skills {
  box-shadow: 0 0 20px #000000a0;
  padding: 2rem 4rem 3rem 4rem;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 1.5rem;
  z-index: 0;

  @media all and (width < 580px) {
    &::before,
    &::after {
      content: none;
    }
  }
}

.catalogue {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1250px;
  display: flex;
  gap: 0.25rem;

  @media all and (width < 1150px) {
    grid-template-columns: repeat(3, auto);
  }

  @media all and (width < 850px) {
    grid-template-columns: repeat(2, auto);
  }

  @media all and (width < 580px) {
    grid-template-columns: auto;
  }
}
