/*---------------------------------------------*/
/*---------------- DECORATIONS ----------------*/
/*---------------------------------------------*/

.decoration {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: grid;
  gap: 0.5rem;
}

.column {
  grid-template-columns: auto;
}

.row {
  grid-auto-flow: column;
}

/*------------------------------------*/
/*-------------- STRIPS --------------*/
/*------------------------------------*/

.strip {
  justify-content: space-between;
  box-shadow: 0 0 20px #000;
  grid-auto-flow: column;
  padding: 0.65rem 1rem;
  border-radius: 40px;
  align-items: center;
  position: relative;
  display: grid;
  gap: 1rem;
}

.strip:nth-of-type(1) {
  background-color: #ffffff15;
  margin-top: 5rem;
  rotate: 8deg;
}

.strip:nth-of-type(2) {
  background-color: #ffffff15;
  margin-bottom: 2.5rem;
  translate: 0 -50px;
  rotate: -8deg;
}

.strip:nth-of-type(1)::before,
.strip:nth-of-type(2)::before {
  border-radius: 40px;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  content: "";
  z-index: -1;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.strip:nth-of-type(1)::before {
  background-image: linear-gradient(45deg, #a00000, #0000a0);
}

.strip:nth-of-type(2)::before {
  background-image: linear-gradient(45deg, #0000a0, #a00000);
}

.strip-label-group {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.strip-label {
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 5px #00000080;
  background-color: #000000a0;
  padding: 0.25rem 1.25rem;
  letter-spacing: 0.25px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

/*-------------------------------------*/
/*-------------- CIRCLES --------------*/
/*-------------------------------------*/

.circle {
  border: 2.25px solid;
  border-radius: 40px;
  aspect-ratio: 1 / 1;
  width: 30px;
}

.circle:nth-of-type(even) {
  border-color: #0000ff;
}

.circle:nth-of-type(odd) {
  border-color: #ff0025;
}

/*------------------------------------*/
/*-------------- DASHES --------------*/
/*------------------------------------*/

.dashes {
  gap: 1rem;
}

.dash {
  background-image: linear-gradient(45deg, #ff0000, #0000ff);
  transform: skew(-40deg);
  rotate: -40deg;
  width: 80px;
  height: 6px;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
