.heading {
  background: -webkit-linear-gradient(45deg, #ff0000, #0000ff);
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ffffffa0;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 8rem;
}
