.about {
  justify-content: center;
  grid-auto-flow: column;
  align-content: center;
  padding: 8rem 0rem;
  align-items: start;
  position: relative;
  display: grid;
  gap: 8rem;

  @media all and (width < 925px) {
    gap: 4rem;
  }

  @media all and (width < 850px) {
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 2.5rem;
  }
}

.details {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 500px;
  gap: 0.5rem;

  .description {
    font-family: "Poppins", sans-serif;
    color: #ffffffcf;
    font-weight: 200;
    font-size: 1rem;
  }

  .link {
    transition: background-color 300ms, border-color 300ms;
    background-color: #b5002a;
    padding: 0.4rem 2rem;
    margin-top: 0.75rem;
    width: fit-content;

    p {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      color: #fff;
    }

    &:hover {
      background-color: #df002a;
      border-color: #df002a;
    }
  }

  @media all and (width < 1050px) {
    width: 400px;

    .description {
      font-size: 0.95rem;
    }
  }

  @media all and (width < 850px) {
    width: 500px;

    .description {
      font-size: 1rem;
    }
  }

  @media all and (width < 600px) {
    width: 350px;

    .description {
      font-size: 0.85rem;
    }

    .link {
      padding: 0.4rem 1.5rem;
    }
  }
}

.overview {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;

  .skill {
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    display: grid;
    gap: 0.25rem;
  }
}
