.footer {
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  box-shadow: 0 0 20px #000000a0;
  background-color: #000025;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;
  gap: 1.25rem;

  > hr {
    border-bottom: 2px solid #ffffff15;
    border-radius: 40px;
    border-right: none;
    border-left: none;
    border-top: none;
  }
}

@mixin row {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.top {
  @include row();

  > div {
    justify-content: center;
    grid-auto-flow: column;
    align-items: center;
    display: grid;
    gap: 1rem;
  }
}

.middle {
  @include row();
  align-items: start;
}

.features {
  justify-content: center;
  grid-auto-flow: column;
  align-items: start;
  display: grid;
  gap: 2.5rem;

  > div {
    grid-template-columns: auto;
    justify-content: center;
    align-items: start;
    display: grid;
    gap: 0.5rem;

    > p {
      background: -webkit-linear-gradient(45deg, #bf953f, #fcf6ba);
      -webkit-text-fill-color: transparent;
      font-family: "Poppins", sans-serif;
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: 400;
      font-size: 2rem;
    }

    > div {
      grid-template-columns: auto;
      justify-content: left;
      align-items: start;
      display: grid;
      gap: 0.5rem;
    }
  }

  @media all and (width < 800px) {
    > div > p {
      font-size: 1.25rem;
    }
  }
}

.message {
  font-family: "Poppins", sans-serif;
  margin-left: 2rem;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;

  > span {
    background: -webkit-linear-gradient(45deg, #ff0000, #0000ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
  }

  @media all and (width < 800px) {
    font-size: 1.25rem;
  }

  @media all and (width < 550px) {
    font-size: 1rem;
  }

  @media all and (width < 470px) {
    display: none;
  }
}

.bottom {
  @include row();

  > div,
  > a {
    justify-content: center;
    grid-auto-flow: column;
    align-items: center;
    opacity: 0.25;
    display: grid;
    gap: 0.65rem;

    > img {
      margin-right: -0.25rem;
      width: 20px;
    }

    > p {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.5px;
      font-weight: 300;
      font-size: 1rem;
      color: #fff;
    }
  }

  > div > img {
    width: 22.5px;
  }

  @media all and (width < 550px) {
    > div,
    a {
      > img {
        width: 15px;
      }

      > p {
        font-size: 0.85rem;
      }
    }
  }
  
  @media all and (width < 425px) {
    justify-content: center;

    > a {
      display: none;
    }
  }
}
