@mixin stripes($offset) {
  background-image: linear-gradient(
    to bottom,
    #800033 0%,
    #5700a2 50%,
    #004475 100%
  );
  box-shadow: 0 0 20px #000000a0;
  background-color: #ff3cac;
  transform: skew(40deg);
  position: absolute;
  right: $offset;
  height: 100%;
  width: 100px;
  z-index: -1;
  content: "";
}

.pricing {
  box-shadow: 0 0 20px #000000a0;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 4rem;
  display: grid;
  gap: 2.8rem;
  z-index: 0;

  &::before {
    @include stripes(14rem);
  }

  &::after {
    @include stripes(22rem);
  }
}

.cards {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 2.5rem;
}
