@mixin stripes($offset) {
  background-image: linear-gradient(
    to bottom,
    #800033 0%,
    #5700a2 50%,
    #004475 100%
  );
  box-shadow: 0 0 20px #000000a0;
  background-color: #ff3cac;
  transform: skew(40deg);
  position: absolute;
  right: $offset;
  height: 100%;
  width: 100px;
  z-index: -1;
  content: "";
}

.skills {
  box-shadow: 0 0 20px #000000a0;
  padding: 2rem 4rem 3rem 4rem;
  grid-template-columns: auto;
  background-color: #000025;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 1.5rem;
  z-index: 0;

  
  @media all and (width > 1200px) {
    &::before {
      @include stripes(14rem);
    }
  
    &::after {
      @include stripes(22rem);
    }
  }
}

.catalogue {
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 1.25rem;

  @media all and (width < 1200px) {
    grid-template-columns: repeat(3, auto);
  }
  
  @media all and (width < 900px) {
    grid-template-columns: repeat(2, auto);
  }
}
