.strip {
  justify-content: space-between;
  box-shadow: 0 0 20px #000;
  grid-auto-flow: column;
  padding: 0.65rem 1rem;
  border-radius: 40px;
  align-items: center;
  position: relative;
  display: grid;
  --width: 0%;
  gap: 1rem;

  > div {
    justify-content: center;
    grid-auto-flow: column;
    align-items: center;
    display: grid;
    gap: 0.65rem;

    > p {
      font-family: "Poppins", sans-serif;
      box-shadow: 0 0 5px #00000080;
      background-color: #000000a0;
      padding: 0.25rem 1.25rem;
      letter-spacing: 0.25px;
      border-radius: 40px;
      font-weight: 600;
      font-size: 1rem;
      color: #fff;
    }
  }

  &::before {
    transition: width 1250ms ease;
    border-radius: 40px;
    position: absolute;
    width: var(--width);
    margin: 0 auto;
    height: 100%;
    content: "";
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
  }

  &:nth-of-type(1) {
    background-color: #ffffff15;
    margin-top: 5rem;
    rotate: 8deg;

    &::before {
      background-image: linear-gradient(45deg, #a00000, #0000a0);
    }
  }

  &:nth-of-type(2) {
    background-color: #ffffff15;
    margin-bottom: 2.5rem;
    translate: 0 -50px;
    rotate: -8deg;

    &::before {
      background-image: linear-gradient(45deg, #0000a0, #a00000);
    }
  }

  @media all and (width < 1200px) {
    > div > p {
      padding: 0.25rem 1rem;
      font-size: 0.85rem;
    }
  }

  @media all and (width < 985px) {
    > div > p {
      padding: 0.25rem 1rem;
      font-size: 0.65rem;
    }
  }

  @media all and (width < 825px) {
    > div > p:nth-of-type(3) {
      display: none;
    }
  }

  @media all and (width < 560px) {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin: 0 auto;
      rotate: 0deg;
      width: 95%;

      > div > p {
        display: none;
      }
    }

    &:nth-of-type(1) {
      border-top-right-radius: 20px 20px;
      border-top-left-radius: 20px 20px;
    }

    &:nth-of-type(2) {
      border-bottom-right-radius: 20px 20px;
      border-bottom-left-radius: 20px 20px;
    }

    &:nth-of-type(1)::before {
      border-top-right-radius: 20px 20px;
      border-top-left-radius: 20px 20px;
      inset: auto;
      right: 0;
    }

    &:nth-of-type(2)::before {
      border-bottom-right-radius: 20px 20px;
      border-bottom-left-radius: 20px 20px;
      inset: auto;
      left: 0;
    }
  }
}
