.label {
  justify-content: center;
  grid-auto-flow: column;
  pointer-events: none;
  align-items: center;
  position: absolute;
  display: grid;
  left: 0.7rem;
  gap: 0.45rem;
  bottom: 0;
  top: 0;

  > img {
    opacity: 0.65;
    width: 16px;
  }

  > p {
    font-family: "Poppins", sans-serif;
    transition: color 250ms;
    letter-spacing: 0.25px;
    color: #ffffffa0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
  }

  &.hidden > p {
    opacity: 0;
  }
}

.input {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;
  gap: 0.25rem;

  &:nth-of-type(5) > .label {
    bottom: auto;
    top: 0.8rem;
  }

  &.error > .field {
    border: 2px solid #b5002a;
  }

  &:hover > .label > p {
    color: transparent;
  }

  > img {
    position: absolute;
    width: 10px;
    right: 8px;
    top: 8px;
  }
}

.field {
  padding: 0.4rem 0.5rem 0.4rem 2rem;
  font-family: "Poppins", sans-serif;
  transition: border-color 250ms;
  background-color: transparent;
  border: 2px solid #ffffffa0;
  letter-spacing: 0.25px;
  border-radius: 2.5px;
  color: #ffffffa0;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
  resize: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    outline: none;
    margin: 0;
  }
}
