@import url("./css/fonts.css");
@import url("./css/common.css");

@import url("./css/home/navbar.css");
@import url("./css/home/header.css");
@import url("./css/home/about.css");
@import url("./css/home/skills.css");
@import url("./css/home/projects.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000010;
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
}
