#skills {
  position: relative;

  .dashes {
    bottom: 5rem;
    left: 3.5rem;
  }
}

#projects {
  position: relative;

  .dashes:nth-of-type(3) {
    bottom: 6.5rem;
    left: 3.5rem;
  }

  .dashes:nth-of-type(4) {
    right: 3.5rem;
    top: 16rem;
  }
}

#pricing {
  position: relative;

  .dashes {
    bottom: 6rem;
    left: 3.5rem;
  }
}

@media all and (width < 1500px) {
  .dashes {
    display: none;
  }
}
