@import url("./common/decoration.scss");
@import url("./common/title.scss");

.scroll {
  transform: translateY(-40px);
  opacity: 0;
}

.reveal {
  animation: Reveal 500ms forwards ease;
}

@keyframes Reveal {
  0% {
    transform: translateY(-40px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
