@media all and (width < 1300px) {
  #projects .title {
    text-align: center;
  }
}

@media all and (width < 1185px) {
  #about .title {
    font-size: 3rem;
  }
}

@media all and (width < 525px) {
  #pricing .title {
    text-align: center;
    font-size: 3.5rem;
  }
}




