.skill {
  transition: border-color 400ms;
  border: 2px solid #ffffff10;
  background-color: #000000;
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  display: grid;
  flex-grow: 0;
  gap: 0.5rem;

  > img {
    height: auto;
    width: 20px;

    @media all and (width < 780px) {
      height: auto;
      width: 18px;
    }
  }

  > p {
    font-family: "Poppins", sans-serif;
    color: #ffffffa0;
    font-weight: 300;
    font-size: 1rem;

    @media all and (width < 780px) {
      font-size: 0.85rem;
    }

    @media all and (width < 580px) {
      font-size: 0.75rem;
    }
  }

  &:hover {
    border-color: #ffffff65;
  }
}
